<hr>
<footer>
    <h2 style="margin-bottom: 1rem;">wsebr's amazing footer</h2>

    <nav>
        <ul style="margin-bottom: 1rem;">
            <li><a href="/home">Home</a></li>
            <li><a href="/random">Lucky draw</a></li>
            <li><a href="/latest">Latest post</a></li>
            <li><a href="/about">About</a></li>
        </ul>

        <ul style="margin-bottom: 1rem;">
            <li><a href="https://github.com/NemoDacremont/wsebr">websr's Repo</a></li>
            <li><a href="https://dacremont.xyz">My own, kind of empty, website</a></li>
        </ul>
    </nav>
</footer>
