<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wsebr - search the small web</title>
    <link href="/assets/style.css" rel="stylesheet">
    <link rel="preload" href="/assets/roboto400.ttf" as="font" type="font/ttf" >
    <link rel="preload" href="/assets/roboto700.ttf" as="font" type="font/ttf" >
</head>

<body style="height: 80vh; width: 100vw; max-width: 100vw; display: flex; justify-content: center; align-items: center;">
    <main class="col" style="gap: 1rem;">
        <h1 style="text-align: center;">wsebr &mdash; search the small web</h1>
        <form id="search" action="/search">
            <input name="query" id="query" placeholder="Some amazing article">
            <button>Search</button>
        </form>
        <nav style="display: flex; justify-content: center; flex-wrap: wrap; gap: 1rem;">
            <a href="/random"><div class="button">Feeling lucky</div></a>
            <a href="/latest"><div class="button">Latest pages</div></a>
            <a href="/about"><div class="button">About</div></a>
        </nav>
    </main>
</body>
</html>
